include LICENSE
include README.md
recursive-include pyfat/tests/ *.py
recursive-include pyfat/tests/inputs/ *.txt *.csv
recursive-include example/ *.txt
recursive-include example/monotonic/ *.csv
recursive-include example/fatigue/ *.csv